<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
    <welcome-file-list>
        <welcome-file>mesSend.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <!--发送-->
    <servlet>
        <servlet-name>insertServlet</servlet-name>
        <servlet-class>com.service.insertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertServlet</servlet-name>
        <url-pattern>/send</url-pattern>
    </servlet-mapping>
    <!--获取-->
    <servlet>
        <servlet-name>getInfoServlet</servlet-name>
        <servlet-class>com.service.getInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getInfoServlet</servlet-name>
        <url-pattern>/getInfo</url-pattern>
    </servlet-mapping>
</web-app>



